@import url('https://fonts.googleapis.com/css2?family=Kavivanar&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Vujahday+Script&display=swap');

.line {

    
        background: linear-gradient(to right,#fa6464, #7b86ff);
        width: 4rem;
        height: .5rem;
        border-radius: 6px;
        margin: 20px auto;
}

.img-responsive {
        max-width: 100%;
        height: auto;
}

.hidden {
        display: none;
}