@use "../abstract/variable" as *;
@use "../abstract/function" as func;
@use "../abstract/mixins" as mixins;

 .header {
     padding: 1rem 20rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1rem;
    @include mixins.responsive(xs) {
        padding: 1rem 3rem;  
    }
    @include mixins.responsive(sm) {
        padding: 1rem 5rem;
    }
    @include mixins.responsive(lg) {
        padding: 2rem 3rem;
    }
    @include mixins.responsive(xlg) {
        padding: 2rem 3rem;
    }
    @include mixins.responsive(xxlg) {
        padding: 2rem 15rem;
    }
    .nav-bar {
        display: none;
        @include mixins.responsive(xs) {
            font-size: 1.3rem;
            color: func.theme-colors("primary");
            margin-left: 4rem;
            display: block;
        }
        @include mixins.responsive(sm) {
            font-size: 1.3rem;
            color: func.theme-colors("primary");
            margin-left: 25rem;
            display: block;
        }
        @include mixins.responsive(lg) {
            display: none;
        }
        
     
    }
     
 
     &--menu {
         display: flex;
         align-items: center;
         list-style-type: none;
         text-transform: uppercase;

         @include mixins.responsive(xs) {
             display: none;

             position: fixed;
            
             top: -100%;
             left: 0px;
             width: 100vw;
             height: 100vh;
             background-color: func.theme-colors("light");
             z-index: 1;
             transition: 500ms;

             &.show {
                 display: block;
                 top: 64px;
                 text-align: center;
             }
             & li {
                 padding: 2rem;
                
                 a {
                     color: func.theme-colors("primary-hover") ;

                     &.active {
                         color:  func.theme-colors("secondary");
                     }
                 }
             }
         }
         @include mixins.responsive(sm) {
            display: none;
        }
        @include mixins.responsive(lg) {
             display: flex; 
        }
        
     
         &--item > a {
             margin-right: 1.5rem;
             font-size: 14px;
             font-weight: 600;
             color:func.theme-colors("primary");

             &:hover {
                 color: func.theme-colors("primary-hover");
             }
             &.active {
                color:func.theme-colors("secondary");
             }
         }
     }
 }