@use  "../abstract/variable" as *;
@use "../abstract/function" as func;


.btn {
    padding: 0.8rem 1.6rem;
    border-radius: 10px;
    line-height: 1;
    font-size: 0.9rem;
    border: none;
    outline: none;
    cursor: pointer;
   
    &-primary {
        @extend .btn;
        background-color: func.theme-colors("primary");
        color :func.theme-colors("light");

        &:hover {
            background-color: func.theme-colors("light");
            border: 1px solid func.theme-colors("primary");
            color :func.theme-colors("primary");
        }
    }
    &-primary-outline {
        @extend .btn;
        background-color: func.theme-colors("light");
        border: 1px solid func.theme-colors("primary");
        color: func.theme-colors("primary");

        &:hover {
            background-color:func.theme-colors("primary") ;
            color:func.theme-colors("light");
        }
    }
}