@use "../abstract/function" as func;

.form-control {
    width: 100%;
    padding: 0.5rem 1.5rem;
    background-color: rgba(199, 198, 198, 0.8);
    border: none;
    border-radius: 10px;
    outline: none;
    &:focus {
        border: 2px solid func.theme-colors("primary");
    }
}
    .resize-x {
        resize: horizontal;
    }
    .resize-y {
        resize: vertical;
    }
    .resize-none {
        resize: none;
    }
