@use "../abstract/variable" as *;
@use "../abstract/function" as func;
@use "../abstract/mixins" as mixins;
.hero-area {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mixins.responsive(xs) {
        flex-direction: column;
        padding: 2rem 3rem;
    }
    @include mixins.responsive(sm) {
        flex-direction: column;
        padding: 4rem 2rem 0rem;
    }
    @include mixins.responsive(lg) {
        flex-direction: row;
        justify-content: space-around;
    }
    &--contents {
        max-width: 35rem;
    }

    &--title {
        font-size: 3rem;
        font-weight: 600;
        color: func.theme-colors("primary");
        @include mixins.responsive(xs) {
        font-size: 2rem;
        }
        @include mixins.responsive(sm) {
            font-size: 1.5rem;
            }
            @include mixins.responsive(xlg) {
                font-size: 2.5rem;
                }
    }
    &--desc {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.5;
        font-family: $font-primary !important;
        color: func.theme-colors("secondary") !important;

        @include mixins.responsive(xs) {
            font-size: .9rem;
            }
            @include mixins.responsive(sm) {
                font-size: .9rem;
                }
                @include mixins.responsive(xlg) {
                    font-size: 1.5rem;
                    }
    }
    &--img {
        width: 350px;
        border-radius: 15px;
        box-shadow: 10px 10px 20px ;
        @include mixins.responsive(lg) {
            width: 300px;
            }
            @include mixins.responsive(xxlg) {
                width: 400px;
                }
     
    }
}
