@use  "../abstract/variable";
@use "../abstract/function" as func;

@keyframes color-change {
    0% {
        color: func.theme-colors("primary");
    }
    50% {
        color: func.theme-colors("secondary");
    }
    100% {
        color: func.theme-colors("primary");
    }
}

@keyframes box-shape {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}